{% extends 'base.html' %}

{% block page %}
My Properties
{% endblock %}

{% block title_page %}
My Properties
{% endblock %}

{% block search %}

{% include 'parciais/_search.html' %}

{% endblock %}

{% block content %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">My Properties</h1>
                    <p>Here are your listed properties.</p>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4 property-list">
                    {% if obj_list %}
                        {% for property in obj_list %}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'details_property' property.id %}"><img class="img-fluid" src="{{ property.image.url }}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">{{ property.status }}</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ property.housing }}</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">${{ property.price }}</h5>
                                        <a class="d-block h5 mb-2" href="{% url 'details_property' property.id %}">{{ property.property_listing }}</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.street_number }} Street, {{ property.city }}, {{ property.country }}</p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.area }} Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{ property.bedrooms }} Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{ property.bathrooms }} Bath</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12">
                            <p>You haven't listed any properties yet.</p>
                        </div>
                    {% endif %}
                </div>    
            </div>
        </div>
    </div>
    <br>
    {% include 'parciais/_paginator.html' %}    
</div>


{% endblock %}