{% extends "base.html" %}  <!-- Extends from base.html template -->

{% load static %}  <!-- Loads static files (e.g., CSS, images) -->

{% block page %}
Testimonial  <!-- Page title for the block -->
{% endblock %}

{% block title_page %}
testimonial  <!-- Title for the browser/tab -->
{% endblock %}

{% block content %}
<!-- Testimonial Start -->
<div class="container-xxl py-5">  <!-- Container for testimonial section -->
    <div class="container">  <!-- Inner container -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Clients Say!</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            <!-- Introductory text -->
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <!-- Owl Carousel for testimonials -->
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <!-- Testimonial content -->
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/photo.jpg' %}" style="width: 45px; height: 45px;">
                        <!-- Client image -->
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <!-- Client name -->
                            <small>Profession</small>
                            <!-- Client profession -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repeat similar structure for more testimonials -->
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}
