<div class="container-xxl py-5">
    <div class="container">
        <!-- Row for Title and Tabs -->
        <div class="row g-0 gx-5 align-items-end">
            <!-- Left Column for Title and Description -->
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Property Listing</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.</p>
                </div>
            </div>
            <!-- Right Column for Tabs -->
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <!-- Navigation Tabs -->
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <!-- Tab 1: Featured Properties -->
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1" data-status="all">Featured</a>
                    </li>
                    <!-- Tab 2: Properties For Sale -->
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2" data-status="For Sell">For Sell</a>
                    </li>
                    <!-- Tab 3: Properties For Rent -->
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3" data-status="For Rent">For Rent</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Tab Content -->
        <div class="tab-content">
            <!-- Tab 1 Content: Featured Properties -->
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4 property-list">
                    {% for property in properties_list %}
                        <!-- Display each property as a card -->
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <!-- Property Image -->
                                <div class="position-relative overflow-hidden">
                                    <a href="{% url 'details_property' property.id %}">
                                        <img class="img-fluid" src="{{ property.image.url }}" alt="">
                                    </a>
                                    <!-- Property Status Badge -->
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">{{ property.status }}</div>
                                    <!-- Property Type Badge -->
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ property.housing }}</div>
                                </div>
                                <!-- Property Details -->
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">{{ property.price }}</h5>
                                    <a class="d-block h5 mb-2" href="{% url 'details_property' property.id %}">{{ property.property_listing }}</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.street_number }} Street, {{ property.city }}, {{ property.country }}</p>
                                </div>
                                <!-- Property Features -->
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.area }} Sqft</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{ property.bedrooms }} Bed</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{ property.bathrooms }} Bath</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Tab 2 Content: Properties For Sale -->
            <div id="tab-2" class="tab-pane fade show p-0">
                <div class="row g-4 property-list">
                    {% for property in properties_list %}
                        {% if property.status.name_status == 'For Sell' %}
                            <!-- Display property for sale as a card -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'details_property' property.id %}">
                                            <img class="img-fluid" src="{{ property.image.url }}" alt="">
                                        </a>
                                        <!-- Property Status Badge -->
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">{{ property.status }}</div>
                                        <!-- Property Type Badge -->
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ property.housing }}</div>
                                    </div>
                                    <!-- Property Details -->
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">{{ property.price }}</h5>
                                        <a class="d-block h5 mb-2" href="{% url 'details_property' property.id %}">{{ property.property_listing }}</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.street_number }} Street, {{ property.city }}, {{ property.country }}</p>
                                    </div>
                                    <!-- Property Features -->
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.area }} Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{ property.bedrooms }} Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{ property.bathrooms }} Bath</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Tab 3 Content: Properties For Rent -->
            <div id="tab-3" class="tab-pane fade show p-0">
                <div class="row g-4 property-list">
                    {% for property in properties_list %}
                        {% if property.status.name_status == 'For Rent' %}
                            <!-- Display property for rent as a card -->
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'details_property' property.id %}">
                                            <img class="img-fluid" src="{{ property.image.url }}" alt="">
                                        </a>
                                        <!-- Property Status Badge -->
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">{{ property.status }}</div>
                                        <!-- Property Type Badge -->
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ property.housing }}</div>
                                    </div>
                                    <!-- Property Details -->
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">{{ property.price }}</h5>
                                        <a class="d-block h5 mb-2" href="{% url 'details_property' property.id %}">{{ property.property_listing }}</a>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.street_number }} Street, {{ property.city }}, {{ property.country }}</p>
                                    </div>
                                    <!-- Property Features -->
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.area }} Sqft</small>
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{ property.bedrooms }} Bed</small>
                                        <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{ property.bathrooms }} Bath</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Browse More Properties Button -->
        <br>
        <div class="col-12 text-center">
            <a class="btn btn-primary py-3 px-5" href="{% url 'property_type' %}">Browse More Property</a>
        </div>
    </div>
</div>
